.toggle {
  display: flex;
}

.sidebar-container {
  padding: '10px';
  width: '40%';
  background: '#f0f0f0';                                                                                                                                                                                        
}

.NavLink {
  text-decoration: 'none';
  color: 'white'
}


